.container {
    margin: 0 auto;
    width: 960px;
}

header {
    background: #005275;
}

header h1, footer h2 {
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;    
}

header h1 {
    background-image: url('../img/logo.png');
    height: 50px;
    width: 171px;
}

footer h2 {
    background-image: url('../img/logo_small.png');
    height: 40px;
    width: 137px;
}

nav, footer {
    background: #002344;
}

.hero {
    background: #77A2B5 url('../img/hero.jpg') no-repeat 50% 50%;
    padding-top: 220px;
}

.details {
    background: #ECE2C6;
}

.details ul {
    list-style: none;
    padding: 0;
}

.details li {
    background-position: 0 0; /* default - not necessary */
    background-repeat: no-repeat;
    padding-left: 60px;
    width: 75%;
}

.details__agile {
    background-image: url('../img/agile.png');
}

.details__mobile {
    background-image: url('../img/mobile.png');
}

.details__cloud {
    background-image: url('../img/cloud.png');
}